#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  border: 2px solid black;
  border-radius: 10px;
  /* box-shadow: 10px; */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
h1 {
  color: yellow;
}
.navbarSoon {
  border: 1px solid;
  border-color: aquamarine;
}
.footerForNow {
  border: 1px solid;
  border-color: aquamarine;
}
.button {
  padding: 6px;
  margin: 4px;
}
.cardanoAddress {
  width: 50%;
  padding: 4px;
  margin-right: 12px;
  border: 1px solid;
  border-color: red;
}
.error {
  background-color: red;
  font-weight: bold;
  font-size: large;
  border-radius: 10px;
  padding: 10px 0px;
}
.table {
  /* background-color: grey; */
  border: 1px solid;
}
.tableHeader {
  border: 1px solid;
  padding: 2px 10px;
}
